- var votes = proposal.publicVotes || []

- var participants = proposal.participants || []

- var closed = proposal.closingAt && +new Date(proposal.closingAt) < Date.now()
- var voted = user && ~votes.indexOf(user.id)

.inner-container.commentable-container(class=proposal.votable ? '' : 'hide')

  .proposal-options
    .vote-box
      div#voting-error.alert.alert-warning.hide #{t('proposal-options.error.voting')}.
      .meta-data(class= !!user.id ? '' : 'hide')
        - if(~votes.indexOf(user.id))
          include vote-alert

      .vote-options(class= voted || closed ? 'hide' : '')
        .direct-vote
          a.vote-option.vote-yes(href="#", data-proposal=proposal.id)
            i.flaticon.solid.thumbs-up-1
            span= t('proposal-options.yea')

        - if (!user.id)
          p.text-mute.overlay-vote.hide= t('proposal-options.must-be-signed-in') + '. '
            a(href="/signin")= t('signin.login')
            = ' ' + t('common.or') + ' '
            a(href="/signup?reference=" + reference)= t('signin.signup')
            = '.'

      .votes-cast
        em.text-muted= t('proposal-options.votes-cast', { num: votes.length || "0" })

    - if (closed)
      .results-box.row.clearfix
        p.alert.alert-info(class=votes.length ? 'hide' : ''): label= t('proposal-options.no-votes-cast')
        .results-chart(class= votes.length ? '' : 'hide').col-sm-6
          canvas#results-chart(width="220", height="220")
        .results-summary(class= votes.length ? '' : 'hide').col-sm-6
          - if (votes.length)
            .votes-afirmative.votes-results
              h5= t('proposal-options.yea')
              - var width = votes.length ? (votes.length/votes.length)*100 : 0;
              - var width = Math.round(width*100)/100
              - var s = 1 === votes.length ? '' : 's'
              span.percent #{width} %
              span.votes #{votes.length} #{t('proposal-options.vote-item') + s}
