- link = link || {}

.candidate-link(data-link=link.id)
  .link-row
    .link-group.link-id
      input.form-control(type='text', name='links[#{link.id}][type]', value=link.type, validate='required', placeholder=t('admin-candidates-form.clause.label.text'))
    .link-group.link-url
      input.form-control(type='text', name='links[#{link.id}][url]', validate='required url', value=link.url, placeholder=t('admin-candidates-form.url'))
    .link-group.link-commands
      a.remove-link.btn(href='#')
        span.glyphicon.glyphicon-trash
      a.save-link.btn(href='#')
        span.glyphicon.glyphicon-floppy-disk
