- var closed = proposal.closed
- var isCharte = proposal.firstName === 'Charte'
- var votes = proposal.publicVotes || []
- var participants = proposal.participants || []
- var voted = user && ~votes.indexOf(user.id)

.inner-container
  article.proposal.commentable-container
    h1=proposal.fullName
    - if (proposal.nominatorUser && proposal.nominatorUser.fullName)
      h4.accepted-nomination= t('proposal-article.nominated-by-other')+proposal.nominatorUser.fullName
    - if (proposal.slogan)
      h2.slogan=proposal.slogan
    - if (!isCharte)
      hr
      .row
        .col-xs-6
          h3='3 priorités'
          ul
            li
              p=proposal.firstProp
            li
              p=proposal.secondProp
            li
              p=proposal.thirdProp
        .col-xs-1

        .col-xs-5
          - if (proposal.pictureUrl)
            .row
              img.picture(src=proposal.pictureUrl)
          - if (proposal.links && proposal.links.length)
            .links
              ul
                - each link in proposal.links
                  li
                    a(target="_blank", href=link.url)=link.type
        .clauses

    hr

    .entry-content
      .row(class=isCharte ? 'hide':'')
        h3.chartlead='position sur la charte citoyenne'
        a(href=charteLink, target="_blank")='voir la charte citoyenne'
      .charte
        .row.clause
          .col-xs-4(class=isCharte ? 'taller':'')
            .faketable
              h5.accepted-nomination=t('charte.title1')
              //p.charte-clause=t('charte.clause1')
          .col-xs-8(class=isCharte ? 'taller':'')
            .faketable
              p.charte-position=proposal.whatIsLife
        .row.clause.alt
          .col-xs-4(class=isCharte ? 'taller':'')
            .faketable
              h5.accepted-nomination=t('charte.title2')
              //p.charte-clause=t('charte.clause2')
          .col-xs-8(class=isCharte ? 'taller':'')
            .faketable
              p.charte-position=proposal.secondChartePos
        .row.clause
          .col-xs-4(class=isCharte ? 'taller':'')
            .faketable
              h5.accepted-nomination=t('charte.title3')
              //p.charte-clause=t('charte.clause3')
          .col-xs-8(class=isCharte ? 'taller':'')
            .faketable
              p.charte-position=proposal.thirdChartePos
        .row.clause.alt
          .col-xs-4(class=isCharte ? 'taller':'')
            .faketable
              h5.accepted-nomination=t('charte.title4')
              //p.charte-clause=t('charte.clause4')
          .col-xs-8(class=isCharte ? 'taller':'')
            .faketable
              p.charte-position=proposal.fourthChartePos
        .row.clause
          .col-xs-4(class=isCharte ? 'taller':'')
            .faketable
              h5.accepted-nomination=t('charte.title5')
              //p.charte-clause=t('charte.clause5')
          .col-xs-8(class=isCharte ? 'taller':'')
            .faketable
              p.charte-position=proposal.fifthChartePos

    hr

    .row
      .col-xs-6
        //- Article share link
        - var text = config.tweetText || (proposal.fullName + ' en La Vraie Primaire')
        h3=t("proposal-article.article.sociallinks")
        .share-links
          a(target="_blank", href="http://www.facebook.com/sharer.php?u=#{baseUrl}/candidate/#{proposal.id}").flaticon.social.facebook
          a(target="_blank", href="http://twitter.com/share?text=#{text}&url=#{baseUrl}/candidate/#{proposal.id}").flaticon.social.twitter
 
              
      .col-xs-6
        .proposal-options(class=isCharte ? 'hide' : '')
          h3=t("proposal-article.article.likeTitle")
          .vote-box
            div#voting-error.alert.alert-warning.hide #{t('proposal-options.error.voting')}.
            .meta-data(class= !!user.id ? '' : 'hide')
              - if(~votes.indexOf(user.id))
                include vote-alert
       
            .vote-options(class= voted || closed ? 'hide' : '')
              .direct-vote
                a.vote-option.vote-yes(href="#", data-proposal=proposal.id)
                  i.flaticon.solid.thumbs-up-1
                  span= t('proposal-options.yea')
       
              - if (!user.id)
                p.text-mute.overlay-vote.hide= t('proposal-options.must-be-signed-in') + '. '
                  a(href="/signin")= t('signin.login')
                  = ' ' + t('common.or') + ' '
                  a(href="/signup?reference=" + reference)= t('signin.signup')
                  = '.'
  
          .votes-cast
            - if (votes.length && votes.length === 1)
              em.text-muted= t('proposal-options.votes-cast.singular')
            - else
              em.text-muted= t('proposal-options.votes-cast.plural', { num: votes.length || "0" })
    //- Article participants
    .participants(class=!isCharte && proposal.votable ? '' : 'hide')
      //- Rendered by participants view
