- var closed = proposal.closed
.inner-container
  - var learnMore = config.learnMoreUrl
  - if (learnMore)
    div.alert.alert-warning.alert-dismissable.system-alert
      button(type="button", class="close", data-dismiss="alert", aria-hidden="true")
      span #{t('proposal-article.article.alert.text')}&nbsp;&nbsp;
      a.alert-link(href=learnMore, target="_blank") #{t('proposal-article.article.alert.learn-more')}


  article.proposal.commentable-container

    .meta-information
      p
        i.icon-time
        - if (proposal.closingAt)
          span.time-ago-label= (closed ? t('common.closed') : t('common.close')) + " "
          span.meta-item.meta-timeago.ago(data-time=proposal.closingAt.toString())
        - else
          span.meta-item.meta-timeago= t('proposal-article.unknown-closing-date')

    h1=proposal.fullName
    - if (!proposal.acceptedNomination)
      h2.accepted-nomination= t('proposal-article.not-accepted')
    .entry-content
      .clauses
        - var clauses = proposal.clauses
        each clause, i in clauses
          - var classes = ['clause']
          - classes.push(clause.empty ? 'hide' : 'commentable-section')
          !=toHTML(clause, { className: classes, iframeResponsive: true })

    // Contact info
    .contact
      - if (proposal.phone)
          p=proposal.phone

       - if (proposal.email)
          p=proposal.email

       - if (proposal.postal)
          p=proposal.postal

    //- Article links
    - if (proposal.links && proposal.links.length)
      .links
        h5=t('common.more-information')
        - each link in proposal.links
          p
            a(target="_blank", href=link.url)=link.type

    //- Article participants
    .participants(class=proposal.votable ? '' : 'hide')
      //- Rendered by participants view

    //- Article share links
    - var text = config.tweetText || (proposal.fullName + ' en La Vraie Primaire')
    .share-links
      a(target="_blank", href="http://www.facebook.com/sharer.php?u=#{baseUrl}/candidate/#{proposal.id}").flaticon.social.facebook
      a(target="_blank", href="http://twitter.com/share?text=#{text}&url=#{baseUrl}/candidate/#{proposal.id}").flaticon.social.twitter
