- var closed = proposal.closed
.inner-container
  - var learnMore = config.learnMoreUrl
  - if (learnMore)
    div.alert.alert-warning.alert-dismissable.system-alert
      button(type="button", class="close", data-dismiss="alert", aria-hidden="true")
      span #{t('proposal-article.article.alert.text')}&nbsp;&nbsp;
      a.alert-link(href=learnMore, target="_blank") #{t('proposal-article.article.alert.learn-more')}


  article.proposal.commentable-container

    h1=proposal.fullName
    - if (!proposal.acceptedNomination)
      h2.accepted-nomination= t('proposal-article.not-accepted')
    hr
    - if (proposal.pictureUrl)
      .row
        img.picture(src=proposal.pictureUrl)
        .clauses
    - else
      .clauses

    .entry-content
      .charte
        hr.charte-separator
        .clause
          h2.accepted-nomination=t('charte.title1')
          p.charte-clause=t('charte.clause1')
          p.charte-position=proposal.whatIsLife
        hr.charte-separator
        .clause
          h2.accepted-nomination=t('charte.title2')
          p.charte-clause=t('charte.clause2')
          p.charte-position=proposal.secondChartePos
        hr.charte-separator
        .clause
          h2.accepted-nomination=t('charte.title3')
          p.charte-clause=t('charte.clause3')
          p.charte-position=proposal.thirdChartePos
        hr.charte-separator
        .clause
          h2.accepted-nomination=t('charte.title4')
          p.charte-clause=t('charte.clause4')
          p.charte-position=proposal.fourthChartePos
        hr.charte-separator
        .clause
          h2.accepted-nomination=t('charte.title5')
          p.charte-clause=t('charte.clause5')
          p.charte-position=proposal.fifthChartePos

    hr

    .row
      //- Article share links
      - var text = config.tweetText || (proposal.fullName + ' en La Vraie Primaire')
      .col-xs-5
        h4=t('social links')
        .share-links
          a(target="_blank", href="http://www.facebook.com/sharer.php?u=#{baseUrl}/candidate/#{proposal.id}").flaticon.social.facebook
          a(target="_blank", href="http://twitter.com/share?text=#{text}&url=#{baseUrl}/candidate/#{proposal.id}").flaticon.social.twitter
      .col-xs-2

      //- Article links
      - if (proposal.links && proposal.links.length)
        .col-xs-5
          h4=t('common.more-information')
          .links
            ul
              - each link in proposal.links
                li
                  a(target="_blank", href=link.url)=link.type
    //- Article participants
    .participants(class=proposal.votable ? '' : 'hide')
      //- Rendered by participants view

    
