#users-wrapper
  .users-admin
    .row.well.well-lg
      .col-md-8.col-xs-12.text-center
        .input-group.input-group-md
          span.input-group-addon
            i.glyphicon.glyphicon-search
          input.form-control.search(type='text', placeholder='#{t("admin-users.list.search.placeholder")}', autofocus)
      .col-md-4.col-xs-12.text-center
        .btn-group
          span.sort-label.pull-left=t('admin-users.list.sort')
          button.btn.btn-primary.sort(data-sort='user-name')
              span
          button.btn.btn-primary.sort(data-sort='user-email')
              span
          button.btn.btn-primary.sort(data-sort='user-ip')
              span
    .row
      .list.list-group
        - each user in users
          a.list-group-item(data-userid=user.id)
            if (user.disabledAt)
              button.btn.btn-default.pull-right.unban-user
                span.glyphicon.glyphicon-ok-circle
            else
              button.btn.btn-default.pull-right.ban-user
                span.glyphicon.glyphicon-ban-circle
              button.btn.btn-defauly.pull-right.delete-user
                span.glyphicon.glyphicon-remove-circle
            h4.user-name=user.firstName + " " + user.lastName
            h5.user-email=user.email
            h5(class= user.staff ? "" : "hide")
                |Admin
            h5.user-ip=user.originIp
            h5.user-phone=user.phonenum
            h5.user-zip=user.zipcode
            span.user-date.hide=user.createdAt
