html
  head
    meta(property='og:title', content='#{candidate.fullName} en La Vraie Primaire')
    meta(property='og:type', content='website')
    meta(property='og:url', content='#{baseUrl}/candidate/#{candidate.id}')
    meta(property='og:image', content='#{config.socialshare.image}')
    meta(property='og:site_name', content='#{config.socialshare.siteName}')
    //meta(property='og:description', content=strip(candidate.body))
    meta(property='og:description', content=candidate.body)
